<h3>Objednávka z obchodu Pragmatická Ivona byla odeslána</h3>
<p>
    Vaše objednávka byla úpěšně odeslána.
    Dan je gay!
</p>


<table>
    <tr>
        <th colspan="2">Množství</th>
        <th>Popis</th>
    </tr>
    <%= render @ordr.line_items %>
</table>
